@charset "ISO-8859-1";
   
.container{
	
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;

	padding: 40px 50px 30px;
	margin-top: 50px;
	overflow: hidden;
}

.footer-left{
	float:left;
	
}

h2{
	color:#A4A4A4;
	padding-left: 50px;
}
.author{

padding:20px 0px 0px 30px;
}
 img {
 
  height:100px;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px;
  border-radius: 50%;
  transition: all 1s;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
}
img:hover{
	transform: rotate(1turn);
}
#img-author1{
	border-color: #B40404;
}
#img-author2{
	border-color: #F2F2F2;
}
#img-author3{
	border-color: #FF00FF;
}
#img-author4{
	border-color: #000000;
}
.footer-right{
	float:right;
	
	
}
.container .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}
/* The contact form */
. form{
	display: inline-block;
}

.container form input,
.container form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.container ::-webkit-input-placeholder {
	color:  #5c666b;
}

.container ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.container :-ms-input-placeholder{
	color:  #5c666b;
}


.container form input{
	height: 55px;
	margin-bottom: 15px;
}

.container form textarea{
	height: 100px;
	margin-bottom: 20px;;
}

.container form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}
@media (max-width: 1000px) {

	.container {
		font: bold 14px sans-serif;
	}

	.container .footer-company-name{
		font-size: 12px;
	}

	.container form input,
	.container form textarea{
		width: 250px;
	}

	.container form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.container{
		padding: 30px;
	}

	.container .footer-left,
	.container .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.container .footer-left{
		margin-bottom: 40px;
	}

	.container form{
		margin-top: 30px;
	}

	.container form{
		display: block;
	}

	.container form button{
		float: none;
	}
}
